
<%= simple_form_for(@user) do |f| %>
  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :email, disabled: true %>
    <%= f.input :role, disabled: true %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', users_path, class: 'lg-secondary' %>
    <%= f.button :submit, class: 'lg-primary' %>
  </div>
<% end %>
