<% @page_title = 'Users' %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
<%= link_to 'Back', users_path, class: 'sm-secondary' %>
<%= link_to 'Edit', edit_user_path(@user), class: 'sm-info' %>
