<div class="mb-5 mt-2">
  <% if index %>
    <%= link_to video do %>
      <h2 class="text-red"><%= video.title %></h2>
    <% end %>
    <h5><%= video.speaker %></h5>
    <p class="mt-3">
      <%= video.summary.truncate(100) %>
    </p>
  <% else %>
    <h2><%= video.title %></h2>
    <small class="text-muted">
      Posted by <%= video.user %> on <%= video.nice_created_at %>
    </small>
    <div class="video-container">
      <div class="embed-responsive embed-responsive-16by9 mb-3 shadow mh-80">
        <iframe class="embed-responsive-item"
              src='https://www.youtube.com/embed/<%= video.youtube_id %>?rel=0&autoplay=0' frameborder='0'
              allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <table>
          <tr>
            <td class="pr-3"><%= icon('fas', 'user-circle', title: 'Speaker') %></td>
            <% if video.speaker_url %>
              <td><%= link_to video.speaker, video.speaker_url, target: '_blank' %></td>
            <% else %>
              <td><%= video.speaker %></td>
            <% end %>
          </tr>
          <tr>
            <td class="pr-3"><%= icon('fas', 'stopwatch', title: 'Runtime') %></td>
            <td><%= video.runtime %> minutes</td>
          </tr>
          <tr>
            <td class="pr-3"><%= icon('fas', 'clock', title: 'Recorded at') %></td>
            <td><%= video.nice_recorded_at %></td>
          </tr>
          <% if @video.event %>
            <tr>
              <td class="pr-3"><%= icon('fas', 'map-marked', title: 'Location') %></td>
              <td><%= link_to video.event.title, video.event %></td>
            </tr>
          <% end %>
          <% if video.slides_url %>
            <tr>
              <td><%= icon('fas', 'file', title: 'Slides') %></td>
              <td><%= link_to 'View Slides', video.slides_url, target: '_blank' %></td>
            </tr>
          <% end %>
          <% if video.content_url %>
            <tr>
              <td><%= icon('fas', 'file-alt', title: 'Content') %></td>
              <td><%= link_to 'View Content', video.content_url, target: '_blank' %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-lg-6">
        <%= video.summary %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Watch', video, class: 'sm-info' if index %>
  <% if can? :edit, video %>
    <%= link_to 'Edit', edit_video_path(video), class: 'sm-warning' %>
    <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, class: 'sm-danger' %>
  <% end %>
</div>
