<div class="mb-5 mt-2">
  <% if index %>
    <%= link_to event do %>
      <h2 class="text-red"><%= event.title %></h2>
    <% end %>
  <% else %>
    <h2><%= event.title %></h2>
  <% end %>
  <div class="d-flex justify-content-between">
    <small class="text-muted">
      Posted by <%= event.user %> on <%= event.nice_created_at %>
    </small>
    <% if event.upcoming? %>
      <span class="blue-badge-r">Upcoming</span>
    <% else %>
      <span class="white-badge-r">Past</span>
    <% end %>
  </div>
  <table>
    <tr>
      <td><strong><%= icon('fas', 'clock', title: 'Time') %> </strong></td>
      <td><%= event.nice_time %></td>
    </tr>
    <tr>
      <td class="pr-3"><strong><%= icon('fas', 'map-marked', title: 'Location') %> </strong></td>
      <% if event.alt_location_url %>
        <td><%= link_to event.location, event.alt_location_url, targer: '_blank' %></td>
      <% else %>
        <td><%= link_to event.location, event.google_map, target: '_blank' %></td>
      <% end %>
    </tr>
    <% if !index %>
      <tr>
        <td class="pr-3"><strong><%= icon('fas', 'users', title: 'RSVPed') %> </strong></td>
        <td><%= event.attending %></td>
      </tr>
      <% event.videos.each do |v| %>
        <tr>
          <td><strong><%= icon('fa', 'play-circle', title: 'Video') %> </strong></td>
          <td>
            <%= link_to v, v %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <p class="mt-3">
    <%= markdown_text(index ? event.content.truncate(100) : event.content) %>
  </p>
  <% if index %>
    <%= link_to 'More', event, class: 'sm-info' %>
    <%= link_to 'RSVP', event.url, class: 'sm-secondary', target: '_blank' if event.can_rsvp? %>
  <% else %>
    <%= link_to 'RSVP', event.url, class: 'sm-primary', target: '_blank' if event.can_rsvp? %>
  <% end %>
  <% if can? :edit, event %>
    <%= link_to 'Edit', edit_event_path(event), class: 'sm-warning'  %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'sm-danger' %>
  <% end %>

  <% unless index %>
    <%= render 'layouts/directions' %>
  <% end %>
</div>
