<div class="container-fluid mb-5 mt-2">
  <h2><%= event.title %></h2>
  <small class="text-muted">
    Posted by <%= event.user %> at <%= event.created_at %>
  </small>
  <table>
    <tr>
      <td>Time: </td>
      <td><%= event.time %></td>
    </tr>
    <tr>
      <td>Location: </td>
      <td><%= event.location %></td>
    </tr>
    <tr>
      <td>Sign up link: </td>
      <td><%= link_to 'Meetup.com', event.signup_link %></td>
    </tr>
  </table>
  <p><%= event.content %></p>
  <%= link_to 'Show', event, class: 'btn btn-sm btn-outline-primary' if local_assigns[:index] %>
  <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-sm btn-outline-warning' if can? :edit, Event %>
  <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' if can? :edit, Event %></td>
</div>