<div class="mb-5 mt-2">
    <% if index %>
    <%= link_to event do %>
    <h2 class="text-red"><%= event.title %></h2>
    <% end %>
    <% else %>
    <h2><%= event.title %></h2>
    <% end %>
    <small class="text-muted">
        Posted by <%= event.user %> on <%= event.nice_created_at %>
    </small>
    <table>
        <tr>
            <td><strong>Time: </strong></td>
            <td><%= event.nice_time %></td>
        </tr>
        <tr>
            <td class="pr-3"><strong>Location: </strong></td>
            <td><%= event.location %></td>
        </tr>
        <% unless index %>
        <tr>
            <td class="pr-3"><strong>Attending: </strong></td>
            <td><%= event.attending %></td>
        </tr>
        <% end %>
    </table>
    <p class="mt-3">
        <%= index ? event.content.truncate(40) : event.content %>
    </p>
    <% if index %>
    <%= link_to 'More Info', event, class: 'sm-primary' %>
    <%= link_to 'RSVP', event.signup_link, class: 'sm-secondary' if event.signup_link.present? %>
    <% else %>
    <%= link_to 'RSVP', event.signup_link, class: 'lg-primary' if event.signup_link.present? %>
    <% end %>
    <% if can? :edit, event %>
    <%= link_to 'Edit', edit_event_path(event), class: 'sm-warning'  %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'sm-danger' %>
    <% end %>
    </td>
</div>