<div class="container-fluid mb-5 mt-2">
    <h2><%= event.title %></h2>
    <small class="text-muted">
        Posted by <%= event.user %> on <%= event.nice_created_at %>
    </small>
    <table>
        <tr>
            <td><strong>Time: </strong></td>
            <td><%= event.nice_time %></td>
        </tr>
        <tr>
            <td><strong>Location: </strong></td>
            <td><%= event.location %></td>
        </tr>
        <tr>
            <td><strong>RSVPs: </strong></td>
            <td><%= event.attending %></td>
        </tr>
        <tr>
            <td class="pr-3"><strong>Sign up link: </strong></td>
            <td><%= link_to event.signup_link, event.signup_link %></td>
        </tr>
    </table>
    <p>

    </p>
    <p><%= event.content %></p>
    <%= link_to 'Show', event, class: 'sm-primary' if local_assigns[:index] %>
    <% if can? :edit, event %>
        <%= link_to 'Edit', edit_event_path(event), class: 'sm-warning'  %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'sm-danger' %>
    <% end %>
    </td>
</div>