
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user, as: :hidden%>
    <%= f.input :title %>
    <%= f.input :time %>
    <%= f.input :location %>
    <%= f.input :signup_link %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', events_path, class: 'btn btn-secondary'%>
    <%= f.button :submit, class: 'btn btn-primary'%>
  </div>
<% end %>
