<div class="c6 my-5">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.association :user, as: :hidden%>
      <%= f.input :title %>
      <%= f.input :url %>
      <%= f.input :location %>
      <%= f.input :time, as: :effective_date_time_picker, input_js: Event::DATEPICKER_JS %>
      <%= f.input :content, input_html: {rows: 20} %>
    </div>
    <div class="form-actions">
      <%= link_to 'Back', events_path, class: 'lg-secondary'%>
      <%= f.button :submit, class: 'lg-primary'%>
    </div>
  <% end %>
</div>
<%= render 'form_help' %>
