<% @page_title = 'Events' %>

<h1>Events</h1>

<%= render 'nav' %>
<div class="c8">
    <%= will_paginate %>
    <%= (render @events, index: true) || (render 'layouts/nothing_here') %>
    <%= will_paginate %>
</div>
<%= render 'nav' %>