<% @page_title = 'Events' %>

<h1>Events</h1>

    <%= link_to 'New Event', new_event_path, class: 'sm-info' if can? :edit, Event %>
<div class="c8">
    <%= will_paginate %>
    <%= render @events, index: true %>
    <%= will_paginate %>
</div>
    <%= link_to 'New Event', new_event_path, class: 'sm-info' if can? :edit, Event %>