<% @page_title = 'Resources' %>
<h1>Resources</h1>
<div class="c8">
    <h2>Beginners</h2>
    <ul>
        <li><%= link_to 'Learn to Program', 'https://pine.fm/LearnToProgram/', target: '_blank' %> <span class="blue-badge-l">FREEMIUM</span></li>
        <li><%= link_to 'The Odin Project', 'https://www.theodinproject.com/', target: '_blank' %><span class="blue-badge-l">FREE</span></li>
        <li><%= link_to 'The Ruby on Rails Tutorial', 'https://www.railstutorial.org/book', target: '_blank' %><span class="blue-badge-l">FREEMIUM</span></li>
        <li><%= link_to 'Exercism', 'https://exercism.io/', target: '_blank' %><span class="blue-badge-l">FREE</span></li>
    </ul>
    <h2>Junior - Intermediate Developers </h2>
    <ul>
        <li><%= link_to 'The Rails 5 Way', 'https://www.oreilly.com/library/view/the-rails-5/9780134657691/', target: '_blank' %><span class="green-badge-l">PAID</span>
        </li>
        <li><%= link_to 'Practical Object Oriented Design in Ruby', 'https://www.poodr.com/', target: '_blank' %><span class="green-badge-l">PAID</span></li>
    </ul>
    <h2>Intermediate - Senior Developers</h2>
    <ul>
        <li><%= link_to 'Send me a suggestion!', getinvolved_path %><span class="white-badge-l">APPRECIATED</span></li>
    </ul>
</div>