<% @page_title = 'Opportunities' %>

<h1>Opportunities</h1>

<%= link_to 'New Opportunity', new_opportunity_path, class: 'sm-info my-3' if can? :edit, Opportunity%>
<div class="c10">
    <%= will_paginate %>
    <%= render @opportunities, index:true %>
    <%= will_paginate %>
</div>
<%= link_to 'New Opportunity', new_opportunity_path, class: 'sm-info my-3' if can? :edit, Opportunity%>