<footer class="page-footer font-small bg-black text-white pt-3">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 text-center">
        <h5 class="font-weight-bold text-uppercase mt-2 mb-2">Connect</h5>
      <ul class="list-unstyled">
        <li>
          <%= link_to 'Events', events_path %>
        </li>
        <li>
          <%= link_to 'Dev Edmonton Slack', slack_path %>
        </li>
        <li>
          <%= link_to 'Contact', contact_path %>
        </li>
      </div>
      <div class="col-md-4 d-flex align-items-end justify-content-center mb-3">
        <div class="footer-copyright text-center">
          © 2019 Copyright: <%= link_to "YEGRB.com", root_path %>
        </div>
      </div>
        <div class="col-md-4 text-center d-none d-md-inline-block">
          <h5 class="font-weight-bold text-uppercase mt-2 mb-2">Grow</h5>
            <ul class="list-unstyled">
            <li>
              <%= link_to 'Videos', videos_path %>
            </li>
            <li>
              <%= link_to 'Resources', resources_path %>
            </li>
            <li>
              <%= link_to 'Opportunities', opportunities_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer

