<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title + ' | YEGRB' : 'YEGRB.com' %></title>
    <%= favicon_link_tag asset_path('favicon/ruby.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
    <div class="container text-white border-orange border-left py-2 mt-3 mb-5 px-5 my-1">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>

